<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %m%n"/>
        </Console>

        <Routing name="fileRouting">
            <Routes>
                <Route>
                    <RollingFile name="rollingFile" fileName="src\test\log\test.log"
                                 filePattern="${logsDir}\arch\arch_%d{yyyy-MM-dd}_test-%i.log.gz">
                        <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %m%n"/>
                        <SizeBasedTriggeringPolicy size="10MB"/>

                    </RollingFile>
                </Route>
            </Routes>
        </Routing>
    </Appenders>
    <Loggers>
        <!--  Default: ERROR      -->
        <Root level="ERROR">
            <AppenderRef ref="fileRouting"/>
        </Root>
        <!--  Default: INFO      -->
        <Logger name="test" level="INFO" >
            <AppenderRef ref="fileRouting"/>
            <AppenderRef ref="console"/>
        </Logger>
        <!--  Default: INFO      -->
        <Logger name="main" level="INFO">
            <AppenderRef ref="fileRouting"/>
            <AppenderRef ref="console"/>
        </Logger>
    </Loggers>
</Configuration>